.listing-card {
    padding: 10px;
    margin: 10px;
}

.listing-card-img {
    height: 250px;
    width: 250px;
    border-radius: 5px;
}

.card-text-container {
    height: 20px;
    padding: 5px;
}