footer {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  /* background-color: #2c4762; */
  background-color: #20232A;
  color: white;
  display: flex;
  flex-direction: row;
}

.fa {
  background: white;
  /* color: #2c4762; */
  color: #20232A;
  border-radius: 10px;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  margin: 5px 2px;
}

.media-icons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.fa:hover {
  opacity: 0.7;
}